<div class="turno-cuidador-container">
  <h2 nz-typography class="title">Gestión de Disponibilidad</h2>
  <div nz-row [nzGutter]="16">
    <!-- Columna para el calendario -->
    <div nz-col [nzSpan]="24" [nzMd]="16">
      <nz-calendar [(ngModel)]="date" (nzSelectChange)="onDateSelect($event)" (nzValueChange)="onMonthChange($event)"
        [nzDisabledDate]="disabledDate">
        <ng-container *nzDateCell="let date">
          <div [innerHTML]="dateCellRender(date)"></div>
        </ng-container>
      </nz-calendar>
    </div>
    <!-- Columna para los botones -->
    <div nz-col [nzSpan]="24" [nzMd]="8" class="button-container">
      <div nz-row [nzJustify]="'center'" [nzAlign]="'middle'" class="mt-4">
        <button nz-button nzType="primary" class="large-button" (click)="showModal()">Agregar Disponibilidad</button>
      </div>
      <div nz-row [nzJustify]="'center'" [nzAlign]="'middle'" class="mt-4">
        <button nz-button nzType="default" class="large-button" (click)="eliminarDisponibilidad()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Seleccionar Turnos" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div *nzModalContent>
    <h3 nz-typography class="modal-title"> {{ date | date:'dd/MM/yyyy' }}</h3>
    <nz-list [nzDataSource]="turnosDisponibles" [nzRenderItem]="turnoTemplate"
      [nzNoResult]="'Seleccione una fecha mayor a la actual'">
      <ng-template #turnoTemplate let-turno>
        <nz-list-item>
          <label nz-checkbox [(ngModel)]="turno.selected"> {{ turno.hora }}:00 - {{ turno.hora + 1 }}:00</label>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</nz-modal>
