@if (isCliente) {
  @if (!loadingMascotas) {
    <div class="container">
      <h2 class="page-title">Mis mascotas</h2>
      <nz-divider ></nz-divider>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          @if (isMobile) {
            <!-- Botón para agregar mascota en vista móvil -->
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-6 col-xl-6 col-xxl-6 mb-3">
                <button nz-button nzType="primary" nzShape="circle" nzBlock (click)="showModal()">
                  <span nz-icon nzType="plus"></span>
                </button>
              </div>
            </div>
          }
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
            <!-- Tarjetas de mascotas -->
            @for (m of mascotas; track m._id) {
              <div class="col d-flex justify-content-center">
                <app-card-mascota [mascota]="m" (recargarMascotas)="recargarMascotas()"></app-card-mascota>
              </div>
            }

            @if (!isMobile) {
              <!-- Botón para agregar mascota en vista web -->
              <div class="col d-flex justify-content-center">
                <nz-card
                  class="card-agregar"
                  [nzBodyStyle]="{ height: '100%', border: '1px dashed orange', 'border-radius': '20px' }"
                >
                  <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                    <button nz-button nzType="primary" nzShape="circle" nzSize="large" (click)="showModal()">
                      <span nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>
                  </div>
                </nz-card>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <app-nueva-mascota (recargarMascotas)="recargarMascotas()"></app-nueva-mascota>
  } @else {
    <nz-spin [nzSize]="'large'"></nz-spin>
  }
}